<h1>Backup Status</h1>

<div class='row'>
  <% @repos.each do |repo| %>
    <div class='col-md-4'>
      <div class='panel build <%= repo["state"] %>'>
        <h1>
          <%= repo['name'] %>
        </h1>
        <h2>
          Last run: <%= repo['finished_at'] %>
        </h2>
      </div>
    </div>
  <% end %>
</div>
